.pt-3 {
	padding-top: ;
}

.btn-primary { background-color: silver;
	border-color: grey;
	color: black;  }

.btn-primary:hover { background-color: #545454;
	border-color: grey;
	color: black;  }

.btn-primary:focus { background-color: #3b3b3b;
	border-color: grey;
	color: black;  }

.btn-primary:active { background-color: #3b3b3b;
	background: none!important;
	border-color: grey;
	color: black;
	box-shadow: none !important;  }

.btn-default {
	color: black;
}

.btn-default:hover {
	color: #3b3b3b;
}