<a class="btn-default" href="#!/projects">Go back</a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add project</h3>
  </div>
  <div class="panel-body">
    <div class="row">
    	<div class="col-md-12">
        <form ng-submit="addProject()">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="project.name" placeholder="Name">
          </div>
        
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>