<div class="panel panel-default" ng-init="getProjects()">
  <div class="panel-heading">
    <h3 class="panel-title">Latest Projects</h3>
  </div>
  <div class="panel-body">
    <div class="row">
    	<div ng-repeat="project in projects">
    		<div class="col-md-14">
    			<div class="col-md-12">
    				<h4>{{project.name}}</h4>
    				<p>{{project.create_date}}</p>
            <a class="btn btn-primary" href="#!/projects/project_details/{{project._id}}">View details</a>
    			</div>
    		</div>
    	</div>
    </div>
  </div>
</div>