<a class="btn-default" href="#!/projects">Go back</a>
<div class="panel panel-default" ng-init="getProject()">
  <div class="panel-heading">
    <h3 class="panel-title">{{project.name}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
    	<div class="col-md-8">
          <h4>{{project._id}}</h4>
      </div>
      <div class="col-md-8">
          <p>{{project.create_date}}</p>
      </div>
    </div>
  </div>
</div>

<div class="pull-right">
  <a class="btn-default" href="#!/projects/edit/{{project._id}}">Edit</a> |  <a class="btn-default" href="#!" ng-click="removeProject(project._id)">Delete</a>
</div>